#!/bin/bash

#colores
#ejemplo: echo -e "${verde} La opcion (-e) es para que pille el color.${borra_colores}"

rojo="\e[0;31m\033[1m" #rojo
verde="\e[;32m\033[1m"
azul="\e[0;34m\033[1m"
amarillo="\e[0;33m\033[1m"
rosa="\e[0;35m\033[1m"
turquesa="\e[0;36m\033[1m"
borra_colores="\033[0m\e[0m" #borra colores

clear
echo ""
echo -e " ${azul}Comando ${borra_colores}( scripts )${azul}, Para ver tus scripts.${borra_colores}"
echo ""

scripts(){
# Función para mostrar la lista de scripts y obtener la selección del usuario
function select_script() {
    scripts_list=$(echo ""; ls /home/$(whoami)/scripts/*.sh 2>/dev/null)
    separator=" "
    options="Ayuda\nSalir"
    selected_script=$(echo -e "$scripts_list\n$separator\n$options" | fzf --height 80% --reverse --header="Selecciona un script $(whoami):" --no-info)
}

# Bucle infinito para seguir preguntando al usuario hasta que haga una selección o presione Ctrl+C para salir
while true; do
    clear
    select_script

    # Utiliza la estructura case para manejar la selección del usuario
    case "$selected_script" in
        "Salir")
            clear
            echo ""
            echo -e " ${azul}Comando ${borra_colores}( scripts )${azul}, Para ver tus scripts.${borra_colores}"
            echo ""
            break
            ;;
        "Ayuda")
            clear
            echo ""
            echo -e "${rosa} Ayuda_scripts${borra_colores}"
            echo -e "${azul}# ejecutar_scripts${borra_colores}"
            echo ""
            echo "El script proporcionado es una herramienta interactiva que permite a los usuarios ejecutar scripts Bash almacenados en un directorio específico."
            echo "A continuación, se describe cómo utilizar este script:"
            echo ""
            echo -e "${azul}## Ejecutar el script:${borra_colores}"
            echo "Vasta con teclear (scripts) en la linea de comandos de tu terminal. Se cargara el menu interactivo."
            echo "Si no has colocado ningun script, solo aparecera el script de control (ejecutar_scripts.sh)."
            echo ""
            echo -e "${azul}## Interactuar con el Menú de seleccion:${borra_colores}"
            echo "Al ejecutar el script, verás una lista de tus scripts Bash disponibles."
            echo "Utiliza las teclas de flecha hacia arriba y abajo para navegar por la lista de scripts."
            echo "Presiona la tecla Enter para seleccionar un script y ejecutarlo."
            echo "Si deseas salir del menú, selecciona (Salir) y presiona Enter."
            echo "Selecciona (Ayuda) para obtener información sobre cómo utilizar el menú interactivo. Sigue las instrucciones proporcionadas en la pantalla."
            echo "Puedes seleccionar varios scripts presionando la tecla Tab después de seleccionar un script. Una vez que hayas terminado la selección, presiona Enter para ejecutar los scripts seleccionados."
            echo ""
            echo -e "${azul}## Notas Adicionales:${borra_colores}"
            echo "Ten en cuenta que este script se basa en la utilidad fzf, lo que facilita la selección interactiva de scripts."
            echo "Consideraciones de Seguridad:"
            echo ""
            echo -e "${azul}# script de control${borra_colores}"
            echo "El script de control es el fichero (ejecutar_scripts.sh)"
            echo ""
            echo -e "${azul}## Definición de colores:${borra_colores}"
            echo "El script define varias variables que contienen códigos de colores ANSI para facilitar la salida de texto con colores en la terminal."
            echo ""
            echo -e "${azul}## Comprueba los programas necesarios:${borra_colores}"
            echo "Comprueba (git, diff, ping, apt, fzf, y xdotool) que están instalados en el sistema."
            echo "Si falta alguno de estos programas, intenta instalarlo automáticamente utilizando apt."
            echo "Si no puede instalar el software después de tres intentos o si no hay conexión a Internet, muestra un mensaje de error y termina el script."
            echo ""
            echo -e "${azul}## Actualización automática del script:${borra_colores}"
            echo "Comprueba si el script actual (ejecutar_scripts.sh) está actualizado en comparación con una versión en un repositorio de Git."
            echo "Si está actualizado, muestra un mensaje indicando que no es necesario actualizarlo."
            echo "Si no está actualizado, descarga la versión más reciente del repositorio de Git y reemplaza el script local con la versión descargada."
            echo "Luego, cierra la terminal actual para que los cambios surtan efecto y el usuario deba abrir una nueva terminal para usar el script actualizado."
            echo ""
            echo -e "${azul}## Menú de opciones:${borra_colores}"
            echo "Muestra un menú interactivo en la terminal que permite al usuario realizar varias acciones, como incluir o quitar scripts, guardar scripts en una ubicación específica, desinstalar el script, y salir del programa."
            echo "Las opciones del menú están numeradas y el usuario puede seleccionar una opción ingresando el número correspondiente."
            echo ""
            echo -e "${azul}### Funcionalidades específicas:${borra_colores}"
            echo ""
            echo -e "${azul}#### Incluir Scripts:${borra_colores}"
            echo "Permite al usuario seleccionar uno o varios archivos de script (archivos.sh) en el sistema y copiarlos a la carpeta /home/tu_usuario/scripts/."
            echo ""
            echo -e "${azul}#### Quitar Scripts:${borra_colores}"
            echo "Permite al usuario seleccionar uno o varios archivos de script existentes en la carpeta /home/tu_usuario/scripts/ y eliminarlos."
            echo ""
            echo -e "${azul}#### Guardar Scripts:${borra_colores}"
            echo "Permite al usuario seleccionar uno o varios archivos de script existentes en la carpeta /home/tu_usuario/scripts/ y copiarlos a una ubicación específica proporcionada por el usuario."
            echo ""
            echo -e "${azul}#### Desinstalar:${borra_colores}"
            echo "Elimina la carpeta scripts en /home/tu_usuario/, elimina el archivo de configuración ejecutar_scripts.config en /home/tu_usuario/.config/, y elimina la entrada correspondiente en .bashrc para desinstalar completamente el script."
            echo ""
            echo -e "${azul}## Salida segura del script:${borra_colores}"
            echo "La función ctrl_c captura la señal Ctrl+C y muestra un mensaje de agradecimiento antes de cerrar la terminal activa."
            echo "En resumen, el script proporciona una interfaz interactiva para gestionar scripts en un sistema Linux, asegurándose de que los programas necesarios estén instalados y permitiendo al usuario incluir, quitar y guardar" echo "scripts de manera fácil y rápida. Además, ofrece una funcionalidad de actualización automática desde un repositorio de Git."
            echo ""
            echo "Asegúrate de que los scripts que planeas ejecutar sean seguros y de confianza, ya que este script permite ejecutar scripts sin confirmación adicional."
            echo "Recuerda que este script es interactivo y te proporciona una forma conveniente de ejecutar tus scripts Bash de manera fácil y rápida."
            echo "¡Disfruta automatizando tus tareas con este menú interactivo!"
            echo ""
            echo -e "${azul}# Instalacion${borra_colores}"
            echo "Simplemente debes clonar el repositorio con la orden:"
            echo "git clone https://github.com/sukigsx/ejecutar_scripts.git"
            echo ""
            echo "Entras en la carpeta y ejecutas instalar.sh con la orden:"
            echo "./instalar.sh o bien con bash instalar.sh"
            echo ""
            echo -e "${azul}# ¡Disfruta automatizando tus tareas con este menú interactivo!${borra_colores}"
            read p
            ;;

        *)
            if [[ "$selected_script" != "$separator" ]] && [[ -n "$selected_script" ]]; then
                echo ""
                echo "Ejecutando: $selected_script"
                sleep 2
                echo ""
                bash "$selected_script"
                echo ""
                # Puedes realizar acciones adicionales con el script seleccionado aquí si es necesario
            fi
            ;;
    esac
done
}
