 #!/bin/bash

ruta_ejecucion=$(dirname "$(readlink -f "$0")")

# Carga los datos necesarios
source $ruta_ejecucion/MonitorRedIps.config 2>/dev/null 1>/dev/null 0>/dev/null
source $ruta_ejecucion/MonitorRedServicios.config 2>/dev/null 1>/dev/null 0>/dev/null
source $ruta_ejecucion/MonitorRedTelegram.config 2>/dev/null 1>/dev/null 0>/dev/null
source $ruta_ejecucion/MonitorRedDominios.config 2>/dev/null 1>/dev/null 0>/dev/null

echo "he estrado"; read p
# Crear o vaciar el archivo resultado.txt
> resultado.txt

# pone el dia y la fecha de ejecucios
echo "$(date +"A  %A, %d de %B de %Y")" >> resultado.txt
echo "" >> resultado.txt

# comprobar ips
echo -e "-- Listado de Ips activas --" >> resultado.txt

# Verificar el estado de cada IP y guardar el resultado en el archivo
for ip in "${!ips[@]}"; do
    nombre=${ips[$ip]}

    # Realizar ping a la IP
    if ping -c 1 -W 1 $ip > /dev/null 2>&1; then
        estado="On"
    else
        estado="Off"
    fi

    # Agregar resultado al archivo en formato tabulado
    printf "%-5s\t%-15s\t%s\n" "$nombre" "$ip" "$estado" >> resultado.txt
done
echo "" >> resultado.txt




# comprobar servicios

# Iterar sobre la matriz de servicios y comprobar cada uno
echo -e "-- Listado de Ips activas --" >> resultado.txt
for service in "${!servicios[@]}"; do
    # Extraer la IP y el puerto del servicio
    host=$(echo $service | cut -d':' -f1)
    port=$(echo $service | cut -d':' -f2)
    service_name="${servicios[$service]}"

    # Utilizar curl para comprobar si el puerto está abierto
    curl --silent --connect-timeout 5 "$host:$port" > /dev/null

    # Verificar el estado de la solicitud curl
    if [ $? -eq 0 ]; then
	printf "%-5s\t%-15s\t%s\n" "$service_name" "$host:$port" "On" >> resultado.txt
    else
        printf "%-5s\t%-15s\t%s\n" "$service_name" "$host:$port" "Off" >> resultado.txt
    fi
done
echo "" >> resultado.txt




# comprobar dominios

# Iterar sobre la matriz de servicios y comprobar cada uno
echo -e "-- Listado de tus Dominios activos --" >> resultado.txt
for dominio in "${!dominios[@]}"; do
#    # Extraer la IP y el puerto del servicio
#    host=$(echo $dominio | cut -d':' -f1)
#    port=$(echo $dominio | cut -d':' -f2)
    dominio_name="${dominios[$dominio]}"

    # Utilizar curl para comprobar si el puerto está abierto
    curl --silent --connect-timeout 5 "$dominio" > /dev/null

    # Verificar el estado de la solicitud curl
    if [ $? -eq 0 ]; then
        printf "%-5s\t%-15s\t%s\n" "$dominio_name" "$dominio" "On" >> resultado.txt
    else
        printf "%-5s\t%-15s\t%s\n" "$service_name" "$dominio" "Off" >> resultado.txt
    fi
done
echo "" >> resultado.txt

echo "-- Fin del listado --" >> resultado.txt

